.container{
  padding: 10px;
  display: flex;
  justify-content: center;
  max-width: 100%;
    overflow-x: hidden;
}

.button{
  padding: 5px 10px;
  cursor: pointer;
}

.button:disabled{
  cursor: not-allowed;
}