/* homepage.css */
.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-size: cover;
  background-position: center;
}

.homepage-content {
  padding: 2.5rem;
  background-color: white;
  background-opacity: 90%;
  border-radius: 0.75rem;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.homepage-heading {
  font-size: 2.25rem; /* 4xl */
  font-weight: 700; /* bold */
  color: #1f2937; /* gray-800 */
  margin-bottom: 1rem;
}

.homepage-text {
  font-size: 1.125rem; /* text-lg */
  color: #4b5563; /* gray-600 */
  margin-bottom: 2rem;
}

/* Add any other styles you need for your homepage */
